<app-nav-home></app-nav-home> 


<div class="row container">
    <form class="col s12" (ngSubmit)="sendSignupForm(myForm)" #myForm="ngForm">
      <div class="row">
        <div class="input-field col s6">
            <input type="text" [(ngModel)]="username" name="username" class="validate" required/>
          <label for="username">Username</label>
        </div>
        </div>
      <div class="row">
        <div class="input-field col s6">
            <input  class="validate" id="password"  type="password" [(ngModel)]="password" name="password" rminlength="6" required/>
          <label for="password"  data-error="wrong" data-success="right">Password</label>
        </div>
      </div>
      <div class="row">
    
          <div class="input-field col s6">
            <input id="email"  type="email" [(ngModel)]="email" name="email" required class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
       
      </div>
      <button class="waves-effect waves-light btn" type="submit"> Signup </button>
    </form>
  </div>

  <app-footer></app-footer>
        


